.HeaderChat {
  background-color: var(--bgChiaro);
  display: flex;
  align-items: center;
  justify-content: center;
}

.NomeContatto {
  padding-left: 10px;
}

.chatContent {
  margin-left: 5px;
  width: 90%;
  border-left: 1px solid rgb(148, 148, 148);
  margin-right: 15px;
  min-height: 50ch;
}

.NoContactSelected {
  background-color: var(--bgChiaro);
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ScriviMex {
  padding-top: 10px;
  background-color: rgb(56, 56, 56);
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;

  justify-content: flex-end;
}

.ContainerChatContent {
  height: 100%;
  position: relative;
}

.InputMex {
  background-color: var(--bgChiaro) !important;
  width: 70% !important;
  padding: 2px 2px 2px 6px !important;
  margin-right: 5px !important;
}

.SendIcon {
  font-size: 28px;
}

.Messaggi {
  height: 100%;
}
